:root {
    --beige-color: #E5E5E5;
    --secondary-white: #F5F5F5;
    --black-color: #1C1917;
    --red-color: #EF4444;
    --purple-color: #6366F1;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-label {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 400;
}
input {
    border: 1px solid var(--beige-color);
    /* max-width: 100%; */
    width: 100%;
    box-sizing: border-box;
    padding: 12px 8px;
    border-radius: 6px;
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: var(--white-color);
    margin-top: 0.8rem;
}

input:focus {
    outline: 1px solid var(--purple-color);
}

.toggle-password {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
}

.error-message { 
    color: var(--red-color);
    font-size: 1rem;
    margin-top: 4px;
    line-height: 20px;
    position: absolute;
}