:root {
    --text-color: #44403C;
}

.content {
    padding-left: 45px;
}

.content-title {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    line-height: 2.125rem;
}

.content-titles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    color: var(--stone-color);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
}

.title-wrapper {
    width: 115px;
}

.content-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}