:root {
    --default-color: #6366F1;
    --outline-color: #A8A29E;
    --destructive-color: #EF4444;
    --white-color: #FAFAFA;
}

.size-large {
    width: 100%;
    max-width: 320px;
    padding: 12px;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.size-medium {
    /* width: 65%; */
    /* max-width: 180px; */
    max-height: calc(24px + 1.5rem);
    padding: 12px 20px ;
    line-height: 1.5rem;
    font-size: 1.125rem;
}

.size-small {
    max-width: 90px;
    padding: 8px 20px;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-size: 1rem;
}


.button-default,.button-outline,.button-default-destructive, .button-outline-destructive  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}

.button-default:hover,.button-outline:hover, .button-default-destructive:hover,.button-outline-destructive:hover {
    opacity: 0.5;
}

.button-default {
    border: none;
    background-color: var(--default-color);
    color: var(--white-color);

}

.button-outline {
    border: 2px solid var(--outline-color);
    color: var(--outline-color);
    background-color: var(--white-color);

}

.button-default-destructive{
    border: none;
    background-color: var(--destructive-color);
    color: var(--white-color);
}

.button-outline-destructive{
    border: 2px solid var(--destructive-color);
    background-color: var(--white-color-color);
    color: var(--destructive-color);
}

