:root {
    --selected-yellow-color: #FEF9C3
}

.selected-alt {
    background-color: var(--selected-yellow-color);
}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.alternative-letter {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.25rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-number {
    font-weight: bold;
    font-size: 1.125rem;
}

/* .alternative-item {
    cursor: pointer;
} */

/* .alternative-item:hover {
    background-color: var(--selected-yellow-color);
} */

.answer-right {
    background-color: #D1FAE5;
}

.answer-wrong {
    background-color: #f8d4d4;
}