:root {
    --logo-light-color: #EEF2FF;
    --logo-dark-color: #334155;

}
.logo{
    display: flex;
    flex-direction:row ;
    align-items: center;
    gap: 0.5rem;
    /* color: var(--logo-light-color); */
    /* justify-content: center; */
}

.logo-text {
    font-size: 1.4rem;
    font-weight:700;
    transform: scaleX(0.8);
    transform: scaleY(1.4);


}

.logo-img{
    width: 28px;
    fill: var(--logo-color);

}

@media (max-width: 768px) {
    .logo {
        width: 28px;
    }
}