:root {
    --primary-color: #FAFAFA;
    --secondary-color: #1E1B4B;
    --primary-beige: #E7E5E4;
    --secondary-beige: #F5F5F5;
    --primary-yellow: #FEF08A;
    --purple-color: #6366F1;
    --secondary-purple-color: #312E81;
    --stone-color : #78716C;
    --error-color: #EF4444;
}


#form-container-wrapper {
    width: 100%;
    margin-top: 2.5rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container {
    height: 80vh;

    display: flex;
    gap: 2rem;
    justify-content: center;
    
}

#form-field {
    display: flex;
    flex-direction: column;

}

#form-label {
    margin-bottom: 1rem;
}

#form-input-container {
    width: 35vw;
    height: 3rem;
    border: 2px solid var(--primary-beige);
    border-radius: 0.325rem;
}

form input{
    width: 50vh;
    border: none;
    height: 2rem;
    border: 2px solid var(--primary-beige);
    border-radius: 0.350rem;
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 0.5rem;
}

#error-msg {
    color: var(--error-color);
    font-size: 1rem;
    line-height: 20px;
}

form select {
    width: 50vh;
    border: none;
    height: 3rem;
    border: 2px solid var(--primary-beige);
    border-radius: 0.350rem;
    background-color: var(--primary-color);
    font-size: 1rem;
}


#form-submit-button {
    width: 260px;
    height: 3rem;
    border: none;
    border-radius: 0.325rem;
    color: var(--primary-color);
    background-color: var(--purple-color);
    font-size: 1rem;
    cursor: pointer;
}

#form-submit-button:hover{
    background-color: var(--secondary-purple-color);
}