@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-white: #FAFAFA;
    --secondary-white: #F5F5F5;
    --secondary-color: #6366F1;
    --terciary-color: #312E81;
    --border-color: #E5E5E5;
    --underline-color: #D4D4D4;
    --text-color: #1C1917;
    --secondary-text-color: #A8A29E;
    --card--color: #334155;
    --error-color: #EF4444;
}

body {
    font-family:  "Open Sans", sans-serif;;
    background-image: url("../assets/bg.svg") ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--border-color);
    animation: fadeInOut 1s linear 1 forwards;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

/* card */ 
#polvo-card{
    position: absolute;
    left: 23px;
    top: 27px;
    display: flex;
    flex-direction:row ;
    align-items: center;
    font-size: 2rem;
    font-weight:600;
    letter-spacing: -1px;
    color: var(--card--color);
    
    gap: 0.6rem;
}

#polvo-card-img {
    fill: var(--card--color);
}

/* login */
#login-container {
    width: 100%;
    max-width: 545px;
    height: 642px;
    background-color: var(--primary-white);
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 2px var(--border-color) ;
    border-radius: 20px;
    padding: 96px 65px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-title {
    box-sizing: border-box;
    padding: 0 16px 18px 16px;
    font-size: 2.25rem;
    font-weight: 600;
    border-bottom: 1px solid var(--underline-color);
    margin-bottom: 3rem;
    color: var(--text-color);
}

#login-label {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

#login-password {
    position: relative;
    margin-top: 2.5rem;
}

#login-password-input, #login-user-input {
    border: 1px solid var(--border-color);
    width: 100%;
    box-sizing: border-box;
    padding: 12px 8px;
    border-radius: 6px;
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: var(--secondary-white);

}

#login-password-input:focus, #login-user-input:focus {
    outline: 1px solid var(--secondary-color);
} 
#toggle-password-icon{
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#error-msg {
    color: var(--error-color);
    font-size: 1rem;
    margin-top: 4px;
    line-height: 20px;
    position: absolute;
}

#login-footer {
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-password-help{
    color: var(--terciary-color);
}

#login-submit-button {
    margin-top: 30px;
    width: 320px;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-white);
    border-radius: 6px;
    line-height: 1.75rem;
    font-size: 1.25rem;
}

#login-submit-button:hover {
    background-color: var(--terciary-color);
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 450px) {

    :root {
        font-size: 14px;
    }

    #login-container {
        width: 95%;
        height: 554px;
        padding: 56px 20px;
    }

    #login-title {
        font-size: 1.8rem;
    }

    #login-form {
        width: 100%;
    }
    
    #login-submit-button {
        width: 100%;
    }

    #polvo-card {
        top:15px
    }
}