@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #FAFAFA;
    --secondary-color: #6366F1;
    --terciary-color: #312E81;
}

body {
    background-image: url("assets/bg.svg") ;
    border: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#polvo-card{
    position: absolute;
    left: 0;
    top: 0;
}