@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('../components/button/button.css');
@import url('../components/contentItem/contentItem.css');
@import url('../components/contentList/contentList.css');
@import url('../components/navBar/navBar.css');
@import url('../components/pageHeader/pageHeader.css');
@import url('../components/logo/logo.css');
@import url('../components/navBar/navItem/navItem.css');
@import url('../components/dialog/dialog.css');
@import url('../components/input/input.css');
@import url('../components/authCard/authCard.css');
@import url('../components/table/table.css');
@import url('../components/select/select.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,select {
    font-family: "Open Sans", sans-serif;
}
.page {
    display: flex;
    gap: 2rem;
    padding: 40px;
    box-sizing: border-box;
    background-color: var(--white-color);
    flex-direction: column;
    font-family: arial;
    width: calc(100vw - 250px);
}

.page-header {
    display: flex;
    justify-content: space-between;
}

#main {
    display: flex;
}

.hidden {
    display: none;
}

#authPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
