:root {
    --blue-color: #1E1B4B;
    --nav-white-color: #EEF2FF;
    --primary-yellow: #FEF08A;
}

.nav-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--blue-color);
    border: none;
    color: var(--nav-white-color);
    text-decoration: none;
    font-size: 1rem;
    line-height: 21px;
    padding: 0;
    font-weight: 500;
    cursor: pointer;
    position: relative; 
}


.selected {
    width: 4px;
    height: 21px;
    background-color: var(--primary-yellow);
    position: absolute;
    left: -30px;
}

.nav-item p {
    padding: 0 1.25rem 0 0.5rem;
}

.nav-item img {
    transition: transform 0.2s ease-in-out;
    
}

.dropdown {
    display: flex;
    justify-content: baseline;
    background-color: var(--blue-color);
    padding-bottom: 1rem;
    position: absolute;
    width: 100%;
    top: calc(21px + 1rem);
    animation: fadeInOut 1s linear 1 forwards;
    z-index: 1;
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    font-weight: 400;
    gap: 1rem;
    word-break: break-all;
    overflow: hidden;
}

.dropdown a {
    text-decoration: none;
    color: var(--nav-white-color);
}

.dropdown a:hover {
    color: var(--primary-yellow);
}


@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
